{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <a class="site-logo-link" href="{{ path('<front>') }}" rel="home">
      <img src="{{ site_logo }}" alt="{{ site_name }}" />
    </a>
  {% elseif site_name and not site_slogan %}
    <a class="visually-hidden" href="{{ path('<front>') }}" rel="home">{{ site_name }}</a>
  {% elseif site_name and site_slogan %}
    <div class="site-name-slogan">
      <a href="{{ path('<front>') }}" rel="home">{{ site_name }}</a>
    </div>
  {% endif %}
{% endblock %}
